In [2]:
import pandas as pd
df=pd.read_csv('new_df.csv')

In [3]:
df

,is_native,age_group,hours_per_week_bins,fnlwgt_t,education.num_t,net_capital_t,workclass,education,marital.status,occupation,relationship,race,sex,income
0,1,Senior,part-time,-1.187776,-0.464697,-9.188153,Private,High School Graduate,Widowed,White Collar,Not-in-family,White,Female,<=50K
1,1,Senior,very part-time,-0.433103,-0.464697,-9.188153,Private,High School Graduate,Widowed,White Collar,Not-in-family,White,Female,<=50K
2,1,Senior,part-time,0.127192,-0.075769,-9.188153,Private,Some College or Associate,Widowed,Other-service,Unmarried,Black,Female,<=50K
3,1,Senior,part-time,-0.347165,-2.184112,-8.057188,Private,School,Previously Married,Blue Collar,Unmarried,White,Female,<=50K
4,1,Adult,part-time,0.804799,-0.075769,-8.057188,Private,Some College or Associate,Previously Married,White Collar,Own-child,White,Female,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,1,Young Adult,part-time,1.144037,-0.075769,0.044785,Private,Some College or Associate,Single,Service,Not-in-family,White,Male,<=50K
32533,1,Young Adult,part-time,0.746796,0.739505,0.044785,Private,Some College or Associate,Married,White Collar,Wife,White,Female,<=50K
32534,1,Adult,part-time,-0.193226,-0.464697,0.044785,Private,High School Graduate,Married,Blue Collar,Husband,White,Male,>50K
32535,1,Senior,part-time,-0.219684,-0.464697,0.044785,Private,High School Graduate,Widowed,White Collar,Unmarried,White,Female,<=50K
32536,1,Young Adult,very part-time,0.271742,-0.464697,0.044785,Private,High School Graduate,Single,White Collar,Own-child,White,Male,<=50K

In [4]:
df.columns

Index(['is_native', 'age_group', 'hours_per_week_bins', 'fnlwgt_t',
       'education.num_t', 'net_capital_t', 'workclass', 'education',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'income'],
      dtype='object')

In [5]:
df['sex'].value_counts()

Male      21775
Female    10762
Name: sex, dtype: int64

In [6]:
#One Hot Encoding 
from sklearn.preprocessing import OneHotEncoder
categorical_cols=['age_group','hours_per_week_bins','workclass','education','marital.status','occupation','relationship','race','sex']
encoder = OneHotEncoder()
encoder.fit(df[categorical_cols])
encoded_df = pd.DataFrame(encoder.transform(df[categorical_cols]).toarray(), columns=encoder.get_feature_names_out(categorical_cols))
final_df = pd.concat([df.drop(categorical_cols, axis=1), encoded_df], axis=1)

In [7]:
import pickle
with open("one_hot_encoder.pkl", "wb") as f:
    pickle.dump(encoder, f)

In [8]:
final_df

,is_native,fnlwgt_t,education.num_t,net_capital_t,income,age_group_Adult,age_group_Child,age_group_Senior,age_group_Young Adult,hours_per_week_bins_extreme,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,1,-1.187776,-0.464697,-9.188153,<=50K,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,-0.433103,-0.464697,-9.188153,<=50K,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1,0.127192,-0.075769,-9.188153,<=50K,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,-0.347165,-2.184112,-8.057188,<=50K,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,0.804799,-0.075769,-8.057188,<=50K,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,1,1.144037,-0.075769,0.044785,<=50K,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32533,1,0.746796,0.739505,0.044785,<=50K,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32534,1,-0.193226,-0.464697,0.044785,>50K,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32535,1,-0.219684,-0.464697,0.044785,<=50K,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32536,1,0.271742,-0.464697,0.044785,<=50K,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [9]:
final_df.columns

Index(['is_native', 'fnlwgt_t', 'education.num_t', 'net_capital_t', 'income',
       'age_group_Adult', 'age_group_Child', 'age_group_Senior',
       'age_group_Young Adult', 'hours_per_week_bins_extreme',
       'hours_per_week_bins_full-time', 'hours_per_week_bins_over-time',
       'hours_per_week_bins_part-time', 'hours_per_week_bins_very part-time',
       'workclass_Government', 'workclass_Private', 'workclass_Self-employed',
       'workclass_Unemployed', 'education_Bachelors',
       'education_Doctorate or Professional', 'education_High School Graduate',
       'education_Masters', 'education_School',
       'education_Some College or Associate', 'marital.status_Married',
       'marital.status_Previously Married', 'marital.status_Single',
       'marital.status_Widowed', 'occupation_Armed-Forces',
       'occupation_Blue Collar', 'occupation_Other-service',
       'occupation_Service', 'occupation_White Collar', 'relationship_Husband',
       'relationship_Not-in-family', 'relationship_Other-relative',
       'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_Female', 'sex_Male'],
      dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
y=final_df['income']
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)
final_df['income']=y_encoded

In [11]:
final_df

,is_native,fnlwgt_t,education.num_t,net_capital_t,income,age_group_Adult,age_group_Child,age_group_Senior,age_group_Young Adult,hours_per_week_bins_extreme,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,1,-1.187776,-0.464697,-9.188153,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,-0.433103,-0.464697,-9.188153,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1,0.127192,-0.075769,-9.188153,0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,-0.347165,-2.184112,-8.057188,0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,0.804799,-0.075769,-8.057188,0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,1,1.144037,-0.075769,0.044785,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32533,1,0.746796,0.739505,0.044785,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32534,1,-0.193226,-0.464697,0.044785,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32535,1,-0.219684,-0.464697,0.044785,0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32536,1,0.271742,-0.464697,0.044785,0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [12]:
df['income'].value_counts()

#Quite an imbalanced dataset

<=50K    24698
>50K      7839
Name: income, dtype: int64

In [13]:
X = final_df.iloc[:, [*range(0, 4), *range(5, final_df.shape[1])]]

In [14]:
X

,is_native,fnlwgt_t,education.num_t,net_capital_t,age_group_Adult,age_group_Child,age_group_Senior,age_group_Young Adult,hours_per_week_bins_extreme,hours_per_week_bins_full-time,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,1,-1.187776,-0.464697,-9.188153,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,-0.433103,-0.464697,-9.188153,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1,0.127192,-0.075769,-9.188153,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,-0.347165,-2.184112,-8.057188,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,0.804799,-0.075769,-8.057188,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,1,1.144037,-0.075769,0.044785,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32533,1,0.746796,0.739505,0.044785,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32534,1,-0.193226,-0.464697,0.044785,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32535,1,-0.219684,-0.464697,0.044785,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
32536,1,0.271742,-0.464697,0.044785,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [15]:
y=final_df['income']
y

0        0
1        0
2        0
3        0
4        0
        ..
32532    0
32533    0
32534    1
32535    0
32536    0
Name: income, Length: 32537, dtype: int32

In [16]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
smote=SMOTE(sampling_strategy='minority')
X_sm,y_sm=smote.fit_resample(X,y.ravel())

In [17]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_sm=ss.fit_transform(X_sm)

In [18]:
with open("standard_scaler.pkl", "wb") as f:
    pickle.dump(ss, f)

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X_sm,y_sm,test_size=0.2,random_state=0,stratify=y_sm)

In [20]:
y_sm.shape

(49396,)

In [21]:
X_train

array([[ 0.33533171,  0.89580757,  0.515141  , ...,  0.37299781,
        -0.60636792,  0.60636792],
       [ 0.33533171,  0.2981252 , -0.27624667, ...,  0.37299781,
        -0.60636792,  0.60636792],
       [ 0.33533171,  1.24526159, -0.27624667, ..., -2.75227314,
        -0.60636792,  0.60636792],
       ...,
       [ 0.33533171, -0.3354155 ,  0.92772983, ...,  0.37299781,
        -0.60636792,  0.60636792],
       [ 0.33533171, -2.22922639, -0.65378012, ...,  0.37299781,
        -0.60636792,  0.60636792],
       [ 0.33533171, -0.06446145,  1.35086685, ...,  0.37299781,
        -0.60636792,  0.60636792]])

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import cross_val_score

lr=LogisticRegression()
lr.fit(X_train,y_train)
predictions=lr.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, predictions))

accuracies=cross_val_score(estimator=lr,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 0.8095141700404859

Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.78      0.80      4940
           1       0.79      0.84      0.82      4940

    accuracy                           0.81      9880
   macro avg       0.81      0.81      0.81      9880
weighted avg       0.81      0.81      0.81      9880

Accuracy: 80.93 %
Standard Deviation: 0.53 %

In [23]:
from sklearn.svm import SVC

svc = SVC(kernel='rbf')
svc.fit(X_train, y_train)
predictions = svc.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, predictions))

accuracies=cross_val_score(estimator=svc,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 0.8371457489878542

Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.79      0.83      4940
           1       0.81      0.88      0.84      4940

    accuracy                           0.84      9880
   macro avg       0.84      0.84      0.84      9880
weighted avg       0.84      0.84      0.84      9880

Accuracy: 83.56 %
Standard Deviation: 0.41 %

In [24]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)  
rf.fit(X_train, y_train)
predictions = rf.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, predictions))

accuracies=cross_val_score(estimator=rf,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 0.8606275303643725

Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.86      0.86      4940
           1       0.86      0.86      0.86      4940

    accuracy                           0.86      9880
   macro avg       0.86      0.86      0.86      9880
weighted avg       0.86      0.86      0.86      9880

Accuracy: 85.95 %
Standard Deviation: 0.45 %

In [25]:
import xgboost as xgb

xg = xgb.XGBClassifier()
xg.fit(X_train, y_train)
predictions = xg.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, predictions))

accuracies=cross_val_score(estimator=xg,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 0.870242914979757

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.84      0.87      4940
           1       0.85      0.90      0.87      4940

    accuracy                           0.87      9880
   macro avg       0.87      0.87      0.87      9880
weighted avg       0.87      0.87      0.87      9880

Accuracy: 87.11 %
Standard Deviation: 0.45 %

In [26]:
rf = RandomForestClassifier(max_depth=20 ,min_samples_leaf= 1 ,min_samples_split=2, n_estimators=300)
rf.fit(X_train, y_train)
predictions = rf.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

print("\nClassification Report:")
print(classification_report(y_test, predictions))

accuracies=cross_val_score(estimator=rf,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 0.8720647773279352

Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.83      0.87      4940
           1       0.85      0.91      0.88      4940

    accuracy                           0.87      9880
   macro avg       0.87      0.87      0.87      9880
weighted avg       0.87      0.87      0.87      9880

Accuracy: 87.24 %
Standard Deviation: 0.36 %

In [27]:
import pickle 
with open("best_model.pkl","wb") as f:
    pickle.dump(rf,f)